.grid-wrapper {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 0;
}

.grid-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to right, #cbd5e1 1px, transparent 1px),
    linear-gradient(to bottom, #cbd5e1 1px, transparent 1px);
  background-size: 40px 40px;
  -webkit-mask-image: radial-gradient(
    circle at 50% 40%,
    #000 5%,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0.3) 35%,
    transparent 50%
  );
  mask-image: radial-gradient(
    circle at 50% 40%,
    #000 5%,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0.3) 35%,
    transparent 50%
  );
}
